attrs==21.4.0
autopep8==1.6.0
bcrypt==3.2.0
blinker==1.4
cffi==1.15.0
click==8.0.4
cryptography==37.0.1
dataclasses==0.8
ez-setup==0.9
flasgger==0.9.5
Flask==2.0.3
Flask-JWT-Extended==4.3.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
Flask-WTF==1.0.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
MarkupSafe==2.0.1
marshmallow==3.14.1
mistune==2.0.2
mysqlclient==1.4.6
passlib==1.7.4
pkg_resources==0.0.0
pycodestyle==2.8.0
pycparser==2.21
PyJWT==2.3.0
pyrsistent==0.18.0
python-dotenv==0.20.0
PyYAML==6.0
six==1.16.0
SQLAlchemy==1.4.35
toml==0.10.2
typing_extensions==4.1.1
Werkzeug==2.0.3
WTForms==3.0.0
zipp==3.6.0
